<app-navigation></app-navigation>
    <div class="row">
    <div class="card">
      <div class="container">
        <img src="images/sin.jpg" alt="Avatar" class="ab">
          <div class="overlay">
          <h2 >YourSingapore</h2><br>
          <p style="font-size:20px">Book your premium Tour now</p>
          <br><p style="font-size:20px">Aamazing Deals available</p></div>
        </div>
      <div class="container1">
        <h2>Singapore</h2>
        <div class="dropdown">
          <button class="btn"><span>Packages</span></button>
          <div class="dropdown-content">
            <a href="#">Platinum  SAVE 13%</a>
            <a href="#">Gold      SAVE 25%</a>
            <a href="#">Silver 	  SAVE 35%</a>
          </div>
        </div>
    
      </div>
    </div>
    <div class="space"></div>
    <div class="card">
      <div class="container">
        <img src="images/mald.jpg" alt="Avatar" class="ab">
          <div class="overlay">
          <h2>ALWAYS NATURAL</h2><br>
          <p style="font-size:20px">Book your premium Tour now</p>
          <br><p style="font-size:20px">Aamazing Deals available</p></div>
        </div>
      <div class="container1">
        <h2 >Maldives</h2>
        <div class="dropdown">
          <button class="btn"><span>Packages</span></button>
          <div class="dropdown-content">
            <a href="#">Platinum  SAVE 10%</a>
            <a href="#">Gold      SAVE 20%</a>
            <a href="#">Silver 	  SAVE 30%</a>
          </div>
        </div>
    
      </div>
    </div>
    <div class="space"></div>
    <div class="card">
      <div class="container">
        <img src="images/bhutan.jpg" alt="Avatar" class="ab">
          <div class="overlay">
          <h2>Bhutan, happiness is a place</h2><br>
          <p style="font-size:20px">Explore the new place</p>
          <br><p style="font-size:20px">Surprising Deals available</p></div>
        </div>
      <div class="container1">
        <h2>Bhutan</h2>
        <div class="dropdown">
          <button class="btn"><span>Packages</span></button>
          <div class="dropdown-content">
            <a href="#">Premium SAVE20%</a>
            <a href="#">Regular Save30%</a>
          </div>
        </div>
    
      </div>
    </div>
    </div>
