<app-navigation></app-navigation>
<div class="maincontainer">
    <div class="side1"></div>
    <div class="side2"><div class="abc1">
     <h2 >Welcome to Bon Voyage since 1898 established Far far away.</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    
                  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
               
    </div></div>
    </div>
    <br><br><br>
    
    <div class="row"  id="meet">
    <div class="cointainer">
    <a routerLink="/hill" routerLinkActive="active">
    <img src="images/1.jpg" alt="Avatar" style="width:200px"></a>
    <div style="padding:25px">
                  <h2>Group Cruises</h2>
                  <h3><span>from</span> 15000INR</h3>
                </div>
          
      </div><div class="abc"></div>
    <div class="cointainer"	>
    <a routerLink="/hill" routerLinkActive="active">
    <img src="images/2.jpg" alt="Avatar" style="width:200px"></a>
    <div style="padding:25px">
                  <h2>Mountain Tours</h2>
                  <h3><span>from</span> 8000INR</h3>
                </div>
    </div>
    <div class="abc"></div>
    <div class="cointainer"	>
    <a  routerLink="/family" routerLinkActive="active">	
    <img src="images/3.jpg" alt="Avatar" style="width:200px"></a>
    <div style="padding:25px">
                  <h2>Beach Tours</h2>
                  <h3><span>from</span> 12000INR</h3>
                </div>
    </div>
    
    <div class="abc"></div>
    <div class="cointainer"	>
    <a  routerLink="/family" routerLinkActive="active">	
    <img src="images/4.jpg" alt="Avatar" style="width:200px"></a>
    <div style="padding:25px">
                  <h2>Family Tours</h2>
                  <h3><span>from</span> 8000INR</h3>
                </div>
    </div>
    
    
    </div>