.container{
    inline-size: 50%;
    align-content: center;
    background-color: rgba(102, 174, 196, 0.8);
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 30px;
    padding-bottom: 1%;
    padding-top: 1%;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.50);
    margin-bottom: 3%;
    margin-top: 1%;
  }
#btn
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 justify-content: center; 
}
input{
    border-radius: 10px;
}
.button{
    border: none;
    color: black;
    height: 5%;
    position:relative; 
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.body1{
    background-image: url("images/promo-3.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }